In [ ]:
#1
class DataType:
  def __init__(self,name,value):
    self.name=name
    self.value=value
data_type1 = DataType('Integer', 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType('String', 'Hello')
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType('Float', 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

In [ ]:
#12
class Calculator:
  def __init__(self):
    print("Calculator is ready!")
  def calculate(self,v1,v2,op):
    self.v1=v1
    self.v2=v2
    self.op=op
    self.a=0
    if self.op=="+":
      self.a= v1+v2
    elif self.op=="-":
      self.a= v1-v2
    elif self.op=="*":
      self.a= v1*v2
    elif self.op=="/":
     self.a= v1/v2
    return self.a
  def showCalculation(self):
    print(self.v1,self.op,self.v2,"=",self.a)
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

In [ ]:
#13
class Programmer:
  def __init__(self,nm,lan,ex):
    self.nm=nm
    self.lan=lan
    self.ex=ex
    print("Horray! A new programmer is born")
  def printDetails(self):
    print(f"Name: {self.nm}\nLanguage: {self.lan}\nExperience: {self.ex} years.")
  def addExp(self,add):
    self.ex+=add
    print(f"Updating experience of {self.nm}")
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years.
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years.
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years.
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9 years.

In [ ]:
#2
class Joker:
  def __init__(self,name,power,is_he_psycho):
    self.name=name
    self.power=power
    self.is_he_psycho=is_he_psycho
j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
    print('same')
else:
    print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
    print('same')
else:
    print('different')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same

In [ ]:
#3
class Pokemon:
  def __init__(self,pokemon1_name,pokemon2_name,pokemon1_power,pokemon2_power,damage_rate):
    self.pokemon1_name=pokemon1_name
    self.pokemon2_name=pokemon2_name
    self.pokemon1_power=pokemon1_power
    self.pokemon2_power=pokemon2_power
    self.damage_rate=damage_rate
team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)
team_bulb= Pokemon("bulbasaur","squirtle",80,70,9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
pika_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
#3
class Pokemon:
  def __init__(self,a,b,c,d,e):
    self.pokemon1_name=a
    self.pokemon2_name=b
    self.pokemon1_power=c
    self.pokemon2_power=d
    self.damage_rate=e
team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)
team_bulb= Pokemon("bulbasaur","squirtle",80,70,9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
pika_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
#4
class Country:
  def __init__(self):
    self.name=None
    self.continent=None
    self.capital=None
    self.fifa_ranking=None
country = Country()
country.name = 'Banglades'
country.continent = 'Asia'
country.capital = "Dhaka"
country.fifa_ranking =187
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = 'Belgium'
country.continent = 'Europe'
country.capital = 'Brussels'
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Banglades
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [ ]:
#5
class DemonSlayer:
    def __init__(self,a,b,c,d):
        self.name=a
        self.style=b
        self.number_of_technique=c
        self.kill=d
tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

In [ ]:
#6
class box:
    def __init__(self,lst):
        self.height=lst[0]
        self.width=lst[1]
        self.breadth=lst[2]
        print("Creating a Box!")
        print("Volume of the box is",self.height*self.width*self.breadth,"cubic units")
print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)

Box 1
Creating a Box!
Volume of the box is 1000 cubic units
=========================
Height: 10
Width: 10
Breadth: 10
-------------------------
Box 2
Creating a Box!
Volume of the box is 3000 cubic units
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10

In [ ]:
#7
class buttons:
    def __init__(self, *button_data) -> None:
        self.word, self.spaces, self.border = button_data
        self.pera = 1 + self.spaces + len(self.word.strip()) + self.spaces + 1
        print(f"{self.word} Button Specification:")
        print(f"Button name: {self.word}")
        print(f"Number of the border characters for the top and the bottom: {self.pera} ")
        print(f"Number of spaces between the left side border and the first character of the button  name: {self.spaces} ")
        print(f"Number of spaces between the right side border and the last character of the button  name: {self.spaces} ")
        print(f"Characters representing the borders: {self.border}")
        print(f"{self.border*self.pera}\n{self.border}{self.spaces*' ' }{self.word}{self.spaces*' ' }{self.border}\n{self.border*self.pera}")
word = "CANCEL"
spaces = 10
border = 'x'
b1 = buttons(word, spaces, border)
print("=======================================================")
b2 = buttons("Notify",3, '!')
print("=======================================================")
b3 = buttons('SAVE PROGRESS', 5, '$')

CANCEL Button Specification:
Button name: CANCEL
Number of the border characters for the top and the bottom: 28
Number of spaces between the left side border and the first character of the button  name: 10
Number of spaces between the right side border and the last character of the button  name: 10
Characters representing the borders: x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
x          CANCEL          x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
=======================================================
Notify Button Specification:
Button name: Notify
Number of the border characters for the top and the bottom: 14
Number of spaces between the left side border and the first character of the button  name: 3
Number of spaces between the right side border and the last character of the button  name: 3
Characters representing the borders: !
!!!!!!!!!!!!!!
!   Notify   !
!!!!!!!!!!!!!!
=======================================================
SAVE PROGRESS Button Specification:
Button name: SAVE PROGRESS
Number of the border characters for the top and the bottom: 25
Number of spaces between the left side border and the first character of the button  name: 5
Number of spaces between the right side border and the last character of the button  name: 5
Characters representing the borders: $
$$$$$$$$$$$$$$$$$$$$$$$$$
$     SAVE PROGRESS     $
$$$$$$$$$$$$$$$$$$$$$$$$$

In [ ]:
#8
class Calculator:
    def __init__(self) -> None:
        print("Let's calculate")
    def values(self, v1,op,v2):
        self.v1,self.v2,self.op = v1,v2,op
        print(f"Value 1: {self.v1}\nOperator: {self.op}\nValue 2: {self.v2}\nResult: ", end="")
    
    def add(self): return self.v1+self.v2
    def sub(self): return self.v1-self.v2
    def mul(self): return self.v1*self.v2
    def div(self): return self.v1/self.v2
        
obj = Calculator()
first_value, operator, second_value = int(input()), input().strip(), int(input())
obj.values(first_value,operator,second_value)
if operator == '+': print(obj.add())
elif operator == '-': print(obj.sub())
elif operator == '*': print(obj.mul())
elif operator == '/': print(obj.div())

Let's calculate
1
+
2
Value 1: 1
Operator: +
Value 2: 2
Result: 3

In [ ]:
#9
class Patient:
  def __init__(self,name,age,wg,hg):
    self.name=name
    self.age=age
    self.wg=wg
    self.hg=hg
  def printDetails(self):
    bim=self.wg/((self.hg/100))**2
    print("Name:",self.name)
    print("Age:",self.age)
    print("Weight:",self.wg)
    print("Height:",self.hg)
    print("BMI:",bim)
p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0
Height: 158.0
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0
Height: 149.0
BMI: 27.476239809017613

In [ ]:
#10
class Vehicle:
    def __init__(self):
        self.position = [0,0]
    def moveUp(self): self.position[1]+=1
    def moveDown(self): self.position[1]-=1
    def moveRight(self): self.position[0]+=1
    def moveLeft(self): self.position[0]-=1

    def print_position(self):
        print(tuple(self.position))    


car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

(0, 0)
(0, 1)
(-1, 1)
(-1, 0)

In [ ]:
#11
class Shape:
  def __init__(self,shp,v1,v2):
    self.shp=shp
    self.v1=v1
    self.v2=v2
  def area(self):
    if self.shp=="Triangle":
      area=0.5*self.v1*self.v2
    elif self.shp=="Square":
      area=self.v1**2
    elif self.shp=="Rhombus":
      area=(self.v1*self.v2)/2
    elif self.shp=="Rectangle":
      area=self.v1*self.v2
    else:
      area="Shape unknown"
    print("Area:",area)
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape unknown

In [ ]:


#12
class Calculator:
  def __init__(self):
    #self.a=0
    print("Calculator is ready!")
  def calculate(self,v1,v2,sg):
    self.v1=v1
    self.v2=v2
    self.sg=sg
    self.a=0
    if sg=="+":
      self.a=self.v1+self.v2
    elif sg=="-":
      self.a=self.v1-self.v2
    elif sg=="*":
      self.a=self.v1*self.v2
    elif sg=="/":
      self.a=self.v1/self.v2
    return self.a
  def showCalculation(self):
    print(self.v1,self.sg,self.v2,"=",self.a)
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

In [ ]:
#13

class Programmer:
    def __init__(self, name, lang, exp) -> None:
        self.name, self.lang, self.exp = name, lang, exp
        print("Horray! A new programmer is born")
    def addExp(self, exp):
        print(f"Updating experience of {self.name}")
        self.exp += exp
    def printDetails(self):
        print(f"Name: {self.name}\nLanguage: {self.lang}\nExperience: {self.exp} years.")

p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years.
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years.
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years.
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9 years.

In [ ]:
#14
class Test:
    def __init__(self):
        self.sum = 0
        self.y = 0


    def methodA(self):
        x=0
        y=0
        y = y + 7
        x = y + 11
        self.sum = x + y
        print(x , y, self.sum)


    def methodB(self):
        x = 0
        self.y = self.y + 11
        x = x + 33 + self.y
        self.sum = self.sum + x + self.y
        print(x , self.y, self.sum)

t1 = Test()
t1.methodA()
t1.methodA()
t1.methodB()
t1.methodB()

18 7 25
18 7 25
44 11 80
55 22 157

In [ ]:
#15

class Scope:
    def __init__(self):
        self.x, self.y = 1, 100        
    def met1(self):
        x = 3
        x = self.x + 1
        self.y = self.y + self.x + 1
        x = self.y + self.met2() + self.y
        print(x, self.y)         
    def met2(self):
        y = 0
        print(self.x, y)
        self.x = self.x + y
        self.y = self.y + 200
        return self.x + y

q2 = Scope()
q2.met1()
q2.met2()
q2.met1()
q2.met2()

1 0
405 302
1 0
1 0
1209 704
1 0

1

In [ ]:
class Test3:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 2, 3
        msg = [0]
        msg[0] = 3
        y = self.y + msg[0]
        self.methodB(msg, msg[0])
        x = self.y + msg[0]
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, mg2, mg1):
        x = 0
        self.y = self.y + mg2[0]
        x = x + 33 + mg1
        self.sum = self.sum + x + self.y
        mg2[0] = self.y + mg1
        mg1 = mg1 + x + 2
        print(x, self.y, self.sum)

t3 = Test3()
t3.methodA()

t3.methodA()

t3.methodA()

t3.methodA()

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [ ]:
class Test5:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):    
        x = 0
        z = 0
        while (z < 5):
            self.y = self.y + self.sum
            x = self.y + 1
            print(x, self.y, self.sum)
            self.sum = self.sum + self.methodB(x, self.y)
            z += 1
    def methodB(self, m, n):
        x = 0
        sum = 0
        self.y = self.y + m
        x = n - 4
        sum = sum + self.y
        print(x, self.y, sum)
        return self.sum

t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31